<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">

  <style>
    body {
      display: flex;
      background-color: black;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    h1 {
      text-align: center;
      font-size: 3rem;
      color: yellow;
      border: 2px solid #333;
      padding: 10px 20px;
      border-radius: 10px;
    }
  </style>
  <title>home</title>
</head>

<body>
<h1> Welcome Home </h1>
</body>

</html>